div{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.count {
  margin-left: 10px;
  width: 40px;
  border: 1px solid black;
}
/*.item {*/
/*  width: calc(100%/4);*/
/*  height: 200px;*/
/*  border: 2px solid black;*/
/*  margin: 30px 10px;*/
/*}*/